/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

/* Google Fonts: DM Serif Display & Poppins */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #a4c2d1;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63;
}


/* hero */

#hero {
    background: #dbdcde url(../images/background.webp) no-repeat 50% 70% / cover;
    padding: 5% 7%;
    min-height: 500px;
}


/* about */

#about {
    background: white;
}


/* portfolio */

#portfolio {
    background: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    /* being more specific with classes is better because of unwanted targetting issues later on */
    background: #1f7798;
}


/* contact */

#contact {
    background: white;
}