/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

/* Google Fonts: DM Serif Display & Poppins */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #a4c2d1;
    border-radius: 0; /* rounded corners are "too Bootstrappy" */
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63;
}

.btn-primary {
    background: #1f7798;
    border: #1f7798;
    border-radius: 0; /* bug fix */
}

.btn-primary:hover {
    background: #1d6d8a;
    border: #1d6d8a;
}


/* hero */

#hero {
    background: #dbdcde url(../images/background.webp) no-repeat 50% 70% / cover;
    padding: 5% 7%;
    min-height: 500px;
}


/* about */

#about {
    background: white;
}


/* portfolio */

#portfolio {
    background: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    /* being more specific with classes is better because of unwanted targetting issues later on */
    background: #1f7798;
}

#portfolio .card-text {
    /* fix for uneven card heights due to text volume */
    min-height: 120px;
}


/* contact */

#contact {
    background: white;
}


/* responsive design */

@media screen and (min-width: 1200px) {
    #portfolio .card-text {
        /* fix for too large card heights due to wide screens */
        min-height: auto;
    }
}